.trusted-by-section {
    background-color: #000;
    padding: 20px 20px 90px 20px;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

.trusted-by-heading {
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    color: #fff;
}

.logo-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.logo-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    height: 60px; 
    width: auto;
}

.logo-text {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    opacity: 0.60;
    font-family: Arial, sans-serif; 
}



@media (max-width: 768px) {
    .trusted-by-heading {
        margin-bottom: 30px;
    }
    .logo-list {
        gap: 30px;
        padding: 0 10px;
    }
    .logo-item {
        height: 40px;
    }
    .logo-icon {
        height: 25px;
    }
    .logo-text {
        font-size: 1.15rem;
    }
}